//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

extends layout
 
block content
  h1= title
  p Welcome to #{title}
  form(method='post', enctype='multipart/form-data', action='monupload')
    input(type='file', name='photos')
    input(type='file', name='photos')
    input(type='file', name='photos')
    input(type='file', name='photos')

    button envoyer